Source: huayra-manual-data
Section: doc
Priority: extra
Maintainer: Ignacio Losiggio <iglosiggio@gmail.com>
Build-Depends: debhelper (>= 8.0.0), python-bs4, python-lxml,
        wget (>= 1.16), npm (>= 1.4.21)
Standards-Version: 3.9.6
Homepage: https://github.com/HuayraLinux/huayra-visor-manual

Package: huayra-manual-data
Architecture: all
Depends: ${misc:Depends}
Suggests: huayra-visor-manual
Description: Manual de Huayra GNU/Linux (datos).
 El manual de Huayra contiene toda la información necesaria de
 para iniciarse en el uso del sistema operativo.


